/* Nabvar*/

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    gap: 12px;
    background-color:  rgb(9, 7, 60);
}

img {
    width: 50px;
    height: 50px;
    padding: 30px;
}

ul#nav {
    display: flex;
    flex-direction: row;
    gap: 22px;
    padding: 100px;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
}

#nav li a {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-in-out;
  }

  
#nav li a:hover {
    cursor: pointer;
    color: rgb(190, 166, 166);
    transition: all 0.2s ease-in-out;
  }